<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://appseed.us/product/material-dashboard-pro/django/">
            Download
          </a>
        </li>
        <li>
          <a href="https://appseed.us/product/material-dashboard/django/">
            Free Version
          </a>
        </li>
        <li>
          <a href="https://appseed.us/support/">
            Support
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; <a href="https://bit.ly/3fKQZaL" target="_blank">Creative Tim</a> - Coded by AppSeed.
    </div>
  </div>
</footer>