<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <!-- 
      <ul>
        <li>
          <a href="https://appseed.us/product/material-dashboard-pro/django/">
            Download
          </a>
        </li>
        <li>
          <a href="https://appseed.us/product/material-dashboard/django/">
            Free Version
          </a>
        </li>
        <li>
          <a href="https://appseed.us/support/">
            Support
          </a>
        </li>
      </ul>
      -->
    </nav>
    <div class="copyright float-center">
      &copy; Informática - Grupo Fuertes - 2023
    </div>
  </div>
</footer>