{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <form id="RegisterValidation" action="" method="">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">Register Form</h4>
              </div>
              <div class="card-body ">
                <div class="form-group">
                  <label for="exampleEmail" class="bmd-label-floating"> Email Address *</label>
                  <input type="email" class="form-control" id="exampleEmail" required="true">
                </div>
                <div class="form-group">
                  <label for="examplePassword" class="bmd-label-floating"> Password *</label>
                  <input type="password" class="form-control" id="examplePassword" required="true" name="password">
                </div>
                <div class="form-group">
                  <label for="examplePassword1" class="bmd-label-floating"> Confirm Password *</label>
                  <input type="password" class="form-control" id="examplePassword1" required="true" equalTo="#examplePassword" name="password_confirmation">
                </div>
                <div class="category form-category">* Required fields</div>
              </div>
              <div class="card-footer text-right">
                <div class="form-check mr-auto">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" required> Subscribe to newsletter
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <button type="submit" class="btn btn-rose">Register</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form id="LoginValidation" action="" method="">
            <div class="card ">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">contacts</i>
                </div>
                <h4 class="card-title">Login Form</h4>
              </div>
              <div class="card-body ">
                <div class="form-group">
                  <label for="exampleEmails" class="bmd-label-floating"> Email Address *</label>
                  <input type="email" class="form-control" id="exampleEmails" required="true" name="emailadress">
                </div>
                <div class="form-group">
                  <label for="examplePasswords" class="bmd-label-floating"> Password *</label>
                  <input type="password" class="form-control" id="examplePasswords" required="true" name="password">
                </div>
                <div class="category form-category">* Required fields</div>
              </div>
              <div class="card-footer ml-auto mr-auto">
                <button type="submit" class="btn btn-rose">Login</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <form id="TypeValidation" class="form-horizontal" action="" method="">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Type Validation</h4>
                </div>
              </div>
              <div class="card-body ">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Required Text</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="required" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>required</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="email" email="true" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>email="true"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Number</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="number" number="true" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>number="true"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Url</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="url" url="true" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>url="true"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Equal to</label>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input class="form-control" id="idSource" type="text" placeholder="#idSource" required="true" />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input class="form-control" id="idDestination" type="text" placeholder="#idDestination" equalTo="#idSource" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-4 label-on-right">
                    <code>equalTo="#idSource"</code>
                  </label>
                </div>
              </div>
              <div class="card-footer ml-auto mr-auto">
                <button type="submit" class="btn btn-rose">Validate Inputs</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <form id="RangeValidation" class="form-horizontal" action="" method="">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Range Validation</h4>
                </div>
              </div>
              <div class="card-body ">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Min Length</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="min_length" minLength="5" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>minLength="5"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Max Length</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="max_length" maxLength="5" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>maxLength="5"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Range</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="range" range="[6,10]" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>range="[6,10]"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Min Value</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="min" min="6" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>min="6"</code>
                  </label>
                </div>
                <div class="row">
                  <label class="col-sm-2 col-form-label">Max Value</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input class="form-control" type="text" name="max" max="6" required="true" />
                    </div>
                  </div>
                  <label class="col-sm-3 label-on-right">
                    <code>max="6"</code>
                  </label>
                </div>
              </div>
              <div class="card-footer ml-auto mr-auto">
                <button type="submit" class="btn btn-rose">Validate Inputs</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $().ready(function() {
      $sidebar = $('.sidebar');

      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
          $('.fixed-plugin .dropdown').addClass('open');
        }

      }

      $('.fixed-plugin a').click(function(event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .background-color .badge').click(function() {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('background-color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-background-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function() {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function() {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').change(function() {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });

      $('.switch-sidebar-mini input').change(function() {
        $body = $('body');

        $input = $(this);

        if (md.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          md.misc.sidebar_mini_active = false;

          if ($(".sidebar").length != 0) {
            var ps = new PerfectScrollbar('.sidebar');
          }
          if ($(".sidebar-wrapper").length != 0) {
            var ps1 = new PerfectScrollbar('.sidebar-wrapper');
          }
          if ($(".main-panel").length != 0) {
            var ps2 = new PerfectScrollbar('.main-panel');
          }
          if ($(".main").length != 0) {
            var ps3 = new PerfectScrollbar('main');
          }

        } else {

          if ($(".sidebar").length != 0) {
            var ps = new PerfectScrollbar('.sidebar');
            ps.destroy();
          }
          if ($(".sidebar-wrapper").length != 0) {
            var ps1 = new PerfectScrollbar('.sidebar-wrapper');
            ps1.destroy();
          }
          if ($(".main-panel").length != 0) {
            var ps2 = new PerfectScrollbar('.main-panel');
            ps2.destroy();
          }
          if ($(".main").length != 0) {
            var ps3 = new PerfectScrollbar('main');
            ps3.destroy();
          }


          setTimeout(function() {
            $('body').addClass('sidebar-mini');

            md.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);

      });
    });
  });
</script>
<script>
  function setFormValidation(id) {
    $(id).validate({
      highlight: function(element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
        $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
      },
      success: function(element) {
        $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
        $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
      },
      errorPlacement: function(error, element) {
        $(element).closest('.form-group').append(error);
      },
    });
  }

  $(document).ready(function() {
    setFormValidation('#RegisterValidation');
    setFormValidation('#TypeValidation');
    setFormValidation('#LoginValidation');
    setFormValidation('#RangeValidation');
  });
</script>
{% endblock extra_js %}